.full{
	width: 100%;
}
.van-grid-item__content--center{
	padding: 0;
}
.img1{
	width: 100%;
	height: 100%;
	margin-top: -4px;
}
.mon{
	height: 30px;
	line-height: 30px;
	margin: 0 auto;
	text-align: center;
	border-bottom: #00FFFF,2px,solid;
	padding-top: 10px;
}

.mon .ic{
	margin: 0 auto;
	text-align: center;
}
.mon .ic .sp1{
	top: -10px;
	font-size: 20px;
	/* display: block; */
}
.bank{
	height: 200px;
	text-align: center;
	margin: 0 auto;
}
.pict{
	padding-top:30px;
}
.dic{
	margin-top: 10px;
}
.but0{
	margin-top: 20px;
	text-align: center;
}
.but{
	color: white;
	background-color: #FF6B00;
	height: 35px;
	width: 80px;
}

.load{
	margin-top: 100px;
	color: red;
	font-size: large;
	text-align: center;
}
.load1{
	margin-top: 10px;
	color: red;
	font-size: large;
	text-align: center;
}
.comph{
	background-color: red;
	padding-top: 5px;
	padding-bottom: 5px;
}
.img1{
	padding: -5px;
	margin: 0;
	padding: 0;
}
.van-col{
	margin-top: -4px;
}
*{
	margin: 0;
	padding: 0;
}